:root {
   --primary-100: #d4eaf7;
   --primary-200: #b6ccd8;
   --primary-300: #3b3c3d;
   --accent-100: #71c4ef;
   --accent-200: #00668c;
   --text-100: #1d1c1c;
   --text-200: #313d44;
   --bg-100: #fffefb;
   --bg-200: #f5f4f1;
   --bg-300: #cccbc8;
}

body {
   background-color: var(--bg-200);
   font-family: "Poppins";
   color: var(--text-100);
   margin: 0;
   padding: 0;
}

hr {
   border: none;
   border-top: 1px solid var(--bg-300);
}

a {
   text-decoration: none;
   color: var(--text-100);
}

#login-main {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 90vh;
   padding: 0 !important;
}

.login-container {
   background-color: var(--bg-100);
   display: flex;
   flex-direction: column;
   margin: auto auto;
   padding: 50px;
   width: 500px;
   border-radius: 8px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login-header {
   display: block;

   h2 {
      margin: 0 0 16px 0;
   }

   hr {
      margin: 16px 0;
   }
}

.login-content form {
   display: flex;
   flex-direction: column;

   input {
      margin: 12px 0;
      padding: 16px;
      border: 1px solid var(--bg-300);
      border-radius: 6px;
   }

   input[type="submit"] {
      border: 1px solid var(--accent-200);
      background: var(--accent-200);
      color: var(--bg-100);
      cursor: pointer;
      padding: 12px;
      font-weight: 600;

      &:hover {
         filter: opacity(90%);
      }
   }
}

.warning {
   color: rgb(212, 61, 61);
}

aside {
   display: flex;
   position: relative;
}

#dashboard-main {
   padding: 100px 100px 0 400px;
}

#sidebar {
   background-color: var(--bg-100);
   box-sizing: border-box;
   box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
   height: 100vh;
   padding: 32px;
   width: 300px;
   position: absolute;
}

#sidebar .item {
   align-items: center;
   margin: 6px 0;
   padding: 4px 12px;
   border-radius: 5px;

   &:hover {
      background-color: #eeeeee;
   }

   .active {
      filter: opacity(100%) !important;
      font-weight: 600;
   }
}

.sidebar-link {
   display: flex;
}

#sidebar .item .icon {
   width: 30px;
}

#sidebar-header {
   padding: 12px 0;
   text-align: center;

   h3 {
      margin: 0;
      color: var(--accent-200);
      font-weight: 600;
   }
}

#sidebar-content {
   padding: 12px 0;
}

#sidebar-footer {
   padding: 16px 32px;
   position: absolute;
   bottom: 0px;
   left: 0px;
   right: 0px;

   hr {
      margin: 24px 0;
   }
}

#sidebar-content .sidebar-link {
   filter: opacity(50%);
}

.table-data {
   margin-top: 24px;
   border-collapse: collapse;
   width: 100%;
   text-align: left;

   td,
   th {
      border-bottom: 1px solid var(--bg-300);
      padding: 8px 12px;
   }
}

#dashboard-main {
   .daftar-page {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      h2 {
         margin: 0;
      }
   }

   .tambah-page {
      display: flex;
      flex-direction: row;
      justify-content: start;

      h2 {
         margin: 0 0 0 24px;
      }
   }
}

#dashboard-main header button {
   background-color: var(--accent-200);
   border: none;
   border-radius: 5px;
   cursor: pointer;
   color: var(--bg-100);
   padding: 12px 18px;
   text-align: center;

   &:hover {
      filter: brightness(90%);
   }
}

.action-buttons {
   display: flex;
   justify-content: space-around;

   button {
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: var(--bg-100);
      padding: 10px 16px;
      text-align: center;

      &:hover {
         filter: brightness(90%);
      }
   }
}

.update-button {
   background-color: var(--accent-200);
}

.delete-button {
   background-color: rgb(189, 23, 23);
}

.tambah-buku-container form {
   table {
      margin-top: 24px;
      width: 100%;

      td {
         padding: 0 12px 0 0;
         vertical-align: text-top;
      }
   }

   input {
      margin: 4px 0 24px 0;
      padding: 16px;
      border: 1px solid var(--bg-300);
      border-radius: 6px;
      width: 100%;
      box-sizing: border-box;
   }

   select {
      box-sizing: border-box;
      margin: 4px 0 24px 0;
      padding: 15px 16px;
      border: 1px solid var(--bg-300);
      border-radius: 6px;
      width: 100%;
   }
}

.buttons {
   display: flex;
   justify-content: right;
   margin-right: 12px;

   input {
      color: var(--bg-100);
      padding: 12px !important;
      cursor: pointer;
      font-weight: 600;
      margin-left: 16px !important;
   }

   input[type="submit"] {
      border: 1px solid var(--accent-200);
      background: var(--accent-200);
      width: 15%;

      &:hover {
         filter: opacity(90%);
      }
   }

   input[type="reset"] {
      border: 1px solid var(--accent-200);
      background-color: var(--bg-200);
      color: var(--accent-200);
      width: 10%;

      &:hover {
         background-color: var(--primary-300);
         border: 1px solid var(--primary-300);
         color: var(--bg-200);
      }
   }
}
